/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";  

p{
    margin:0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.p-flex{
    display: flex;
}

.p-flex-align-center{
    align-items: center;
}

.p-flex-jc-sb{
    justify-content: space-between;
}

.p-readmore{
    cursor: pointer;
    font-weight: 600;
    color: black;
}

.p-readmore img{
    transition: all .5s;
    transform: translateX(0);
}

.p-readmore:hover img{
    transform: translateX(5px);
}

@media (min-width: 250px) and (max-width: 768px) {
    body{
        margin:0;
        margin-bottom: 3%;
        padding:0;
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    body{
        margin:0;
        margin-bottom: 3%;
        padding:0;
        font-size: 17px;
    }
}

@media (min-width: 992px) {
    body{
        margin:0;
        margin-bottom: 3%;
        padding:0;
        font-size: 17px;
    }
}
