@media (min-width: 250px) and (max-width: 768px) {
    .p-profile{
        background: url(/assets/images/DiegoBillares.jpg);
        height: 12rem;
        width: 100%;
        margin-bottom: 2%;
        margin-top: 2%;
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
    }
    .p-rgt-sec{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .p-tag{
        background: #90EE90;
        color: #fff;
        padding: 5px 10px;
        font-size: 10px;
    }
    
    .p-des{
        color: #acacac;
        width: 80%;
        font-size: 14px;
    }
    
    .btn-warning{
        box-shadow: 1px 2px 12px 1px #0003;
        background-color: #90EE90;
        font-size: 14px;
        min-height: 1rem;
        border: 0;
        border-radius: 0;
        padding: 3% 7% 3% 7%;
        font-weight: 500;
        margin-top: 1rem;
        width: 40%;
    }

    .arrow-right:after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 8px solid black;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        vertical-align: middle;
    }
      
    .arrow-right:before {
        width: 20px;
        height: 2px;
        background: black;
        content: "";
        display: inline-block;
        vertical-align: middle;
    }

    .arrow-position{
        width: 15%;
        margin: 6% 0% 2% 13%;
        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
    }
    
    .row{
        margin-right: 0%;
    }
    
    h1{
        font-size: 20px;
    }

    .mt-4{
        margin-top: 10px !important;
    }

    .mt-3{
        margin-top: 10px !important;
    }

    .mb-4{
        margin-bottom: 12px !important;
    }

    h6{
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 992px) { 
    .p-profile{
        background: url(/assets/images/DiegoBillares.jpg);
        height: 29rem;
        width: 100%;
        margin-bottom: 4%;
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    .p-rgt-sec{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .p-tag{
        background: #90EE90;
        color: #fff;
        padding: 5px 10px;
        font-size: 15px;
    }
    
    .p-des{
        color: #acacac;
        width: 80%;
    }
    
    .btn-warning{
        box-shadow: 1px 2px 12px 1px #0003;
        min-height: 2rem;
        border: 0;
        border-radius: 0;
        padding: 3% 7% 3% 7%;
        font-weight: 500;
        margin-top: 1rem;
        width: 30%;
        background-color: #90EE90;
    }

    .arrow-right:after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 8px solid black;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        vertical-align: middle;
    }
      
    .arrow-right:before {
        width: 20px;
        height: 2px;
        background: black;
        content: "";
        display: inline-block;
        vertical-align: middle;
    }

    .arrow-position{
        width: 5.5%;
        margin-left: 12%;
        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
    }
    
    .img-arrow{
        margin-right: 100%;
        margin-left: 11%;
    }
    
    .row{
        margin-top: 0%;
        margin-left: 7%;
    }
    
    h1{
        font-size: 45px;
    }
}

@media (min-width: 992px) { 
    .p-profile{
        background: url(/assets/images/DiegoBillares.jpg);
        height: 29rem;
        width: 100%;
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    .description{
        margin-left: 2%;
    }

    .p-rgt-sec{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .p-tag{
        background: #90EE90;
        color: #fff;
        padding: 5px 10px;
        font-size: 15px;
    }
    
    .p-des{
        color: #acacac;
        width: 80%;
    }
    
    .btn-warning{
        box-shadow: 1px 2px 12px 1px #0003;
        min-height: 2rem;
        border: 0;
        border-radius: 0;
        padding: 3% 7% 3% 7%;
        font-weight: 500;
        margin-top: 1rem;
        width: 30%;
        background-color: #90EE90;
    }

    .arrow-right:after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 8px solid black;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        vertical-align: middle;
    }
      
    .arrow-right:before {
        width: 20px;
        height: 2px;
        background: black;
        content: "";
        display: inline-block;
        vertical-align: middle;
    }

    .arrow-position{
        width: 8%;
        margin-left: 11%;
        margin-top: 3%;
        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
    }

    .vertical-line{
        border-left: 3px solid black;
        height: 40px;
    }

    .arrow-down{
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    
    .row{
        margin-top: 0%;
        margin-left: 7%;
    }
    
    h1{
        font-size: 45px;
    }
}
