@media (min-width: 250px) and (max-width: 768px) {
    header{
        padding: 0 0;
        margin-bottom: 7%;
    }
    
    .p-wrapper{
        position:relative;
    }
    
    .p-cursor{
        cursor: pointer;
    }
    
    .p-wrapper::before{
        content:'';
        background: #90EE90;
        height: 180%;
        width: 100%;
        position: absolute;
    }
    
    header ul{
        display: flex;
        align-items: center;
        padding-top: 1.8%;
        padding-left: 60%;
    }
    
    header ul li{
        padding: 0 8%;
    }
    
    header ul li:first-child{
        padding-left: 0;
    }
    
    header ul li:last-child{
        padding-right: 0%;
    }
    
    header ul li a {
        color: #000000;
        font-weight: 500;
        position: relative;
    }
    
    header ul li a:hover::after, header ul li a.is-active:hover::after{
        content: '';
        background: #ee90bc;
        height: 9px;
        position: absolute;
        left: 1px;
        z-index: -1;
        bottom: 0;
        right: -3px;
    }
    
    a, a:hover{
        text-decoration: none;
        color: #000;
    }

}


@media (min-width: 768px) and (max-width: 992px) {
    header{
        padding: 0 0;
        margin-bottom: 7%;
    }
    
    .p-wrapper{
        position:relative;
    }
    
    .p-cursor{
        cursor: pointer;
    }
    
    .p-wrapper::before{
        content:'';
        background: #90EE90;
        height: 180%;
        width: 100%;
        position: absolute;
    }
    
    header ul{
        display: flex;
        align-items: center;
        padding-top: 1.8%;
        padding-left: 72%;
    }
    
    header ul li{
        padding: 0 40px;
    }
    
    header ul li:first-child{
        padding-left: 0;
    }
    
    header ul li:last-child{
        padding-right: 0;
    }
    
    header ul li a {
        color: #000000;
        font-weight: 500;
        position: relative;
    }
    
    header ul li a:hover::after, header ul li a.is-active:hover::after{
        content: '';
        background: #ee90bc;
        height: 9px;
        position: absolute;
        left: 1px;
        z-index: -1;
        bottom: 0;
        right: -3px;
    }
    
    a, a:hover{
        text-decoration: none;
        color: #000;
    }
}

@media (min-width: 992px) { 
    header{
        padding: 0 0;
        margin-bottom: 7%;
    }
    
    .p-wrapper{
        position:relative;
    }
    
    .p-cursor{
        cursor: pointer;
    }
    
    .p-wrapper::before{
        content:'';
        background: #90EE90;
        height: 180%;
        width: 100%;
        position: absolute;
    }
    
    header ul{
        display: flex;
        align-items: center;
        padding-top: 1.8%;
        padding-left: 80%;
    }
    
    header ul li{
        padding: 0 40px;
    }
    
    header ul li:first-child{
        padding-left: 0;
    }
    
    header ul li:last-child{
        padding-right: 15%;
    }
    
    header ul li a {
        color: #000000;
        font-weight: 500;
        position: relative;
    }
    
    header ul li a:hover::after, header ul li a.is-active:hover::after{
        background: #00f85f;
        height: 9px;
        position: absolute;
        left: 1px;
        z-index: -1;
        bottom: 0;
        right: -3px;
    }
    
    a{
        text-decoration: none;
        color: #000;
    }
}
